/**
stylesheet.css for Venda Brothers chysa Nyama
*/
body {
  background-color: rgb(250, 250, 250);
  color: #1a1a1a;
  scroll-behavior: smooth;
  text-decoration: none;
}
* a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1a1a1a;
}
a {
  color: #1a1a1a;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
a:hover {
  color: #004799;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.p-r {
  position: relative;
}
.color-a {
  text-decoration: none;
  color: #004799;
}
.color-d {
  color: #f2f2f2;
}
.color-text-a {
  text-decoration: none;
  color: #3d3d3d;
}
.box-shadow, .card-blog, .work-box, .service-box, .paralax-mf {
  box-shadow: 0 15px 12px -10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}
.box-shadow-a, .button:hover {
  text-decoration: none;
  box-shadow: 0 0 0 4px #bdbdbd;
}
.display-5 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.1;
}
.display-6 {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.1;
}
.avatar {
  width: 132px;
  height: 132px;
  margin-right: 4px;
  overflow: hidden;
}
.bg-image {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}
@media (max-width: 1024px) {
  .bg-image {
    background-attachment: scroll;
  }
}
#gallery-box {
  position: relative;
  align-items: center;
  display: grid;
  flex-direction: row;
  margin: auto;
  top: 60px;
  width: 800px;
  height: 600px;
  max-height: 600px;
  max-width: 800px;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 2rem;
  object-fit: fill;
  border-radius: 20px;
}
.slide img {
  position:relative;
  display: flex;
  width: 800px;
  height: 600px;
  top: -100px;
  left: -60px;
}
.slider-container {
  position: relative;
  top: 100px;
  width: 800px;
  height: 600px;
  display: grid;
  align-items: center;
  transition: all 0.9s ease-in-out;
  text-align: center;
  border-radius: 20px;
  padding-bottom: 200px;
}
.gallery-box img {
  width: 800px;
  height: 600px;
  border-radius: 20px;
}
.gallery:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%, -50%);
  border-radius: 20px;
}
.breadcrumb {
  position: relative;
  top: -80px;
  left: -38%;
}
.overlay-mf {
  background-color: #004799;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.overlay-mf {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.7;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.overlay {
  background-color: #004799;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 30%;
  width: 100%;
  opacity: 0.7;
}
.paralax-mf {
  position: relative;
  padding: 8rem 0;
}
.display-table {
  width: 100vw;
  height: 50px;
  display: table;
  background-color: transparent;
}
.table-cell {
  display: table-cell;
  vertical-align: middle;
}
/*--/ Sections /--*/
.sect-4 {
  padding: 4rem 0;
}
.sect-pt4 {
  padding-top: 4rem;
}
.sect-mt4 {
  margin-top: 4rem;
}
/*--/ Title s /--*/
.title-s {
  font-weight: 600;
  color: #1a1a1a;
  font-size: 1.1rem;
}
/*--/ Title A /--*/
.title-box {
  margin-bottom: 4rem;
}
.title-a {
  text-decoration: none;
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
}
.subtitle-a {
  text-decoration: none;
  color: #4e4e4e;
}
.line-mf {
  width: 40px;
  height: 5px;
  background-color: #004799;
  margin: 0 auto;
}
/*--/ Title Left /--*/
.title-box-2 {
  margin-bottom: 3rem;
}
.title-left {
  font-size: 2rem;
  position: relative;
}
.title-left:before {
  content: "";
  position: absolute;
  height: 3px;
  background-color: #004799;
  width: 100px;
  bottom: -12px;
}
/*------/ Box /------*/
.box-pl2 {
  padding-left: 2rem;
}
.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color: rgb(220, 220, 220);
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 2px 5px 0 rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .box-shadow-full {
    padding: 3rem;
  }
}
/*------/ Socials /------*/
.socials {
  padding: 1.5rem 0;
}
.socials ul li {
  display: inline-block;
}
.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.3rem;
  border-radius: 50%;
  line-height: 1.8;
  margin: 0 15px 0 0;
  box-shadow: 0 0 0 3px #004799;
  transition: all 500ms ease;
  margin: 0 20px;
}
.socials .ico-circle:hover {
  background-color: #004799;
  color: rgb(240, 240, 240);
  box-shadow: 0 0 0 3px #ffffff;
  transition: all 1000ms ease;
}
/*------/ Ul resect /------*/
.ul-resect, .widget-tags ul, .widget-sidebar .list-sidebar, .box-comments .list-comments, .blog-wrapper .post-meta ul, .list-ico, .socials ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}
.list-ico {
  line-height: 1.8;
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  color: #004799;
  margin-right: 10px;
  font-size: 1.3rem;
}
.list-ico span {
  position: relative;
  display: block;
  text-align: center;
  justify-content: center;
  color: #004799;
  margin-right: 10px;
  font-size: 1.3rem;
}
/*------/ Ico Circle /------*/
.ico-circle {
  height: 100px;
  width: 100px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 1 0 1 10px #004799;
  display: block;
}
/*------/ Owl Carousel /------*/
.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}
.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}
.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 7px;
  margin: 5px 5px;
  background: #c7dbf3;
  border: 0px solid #b6c9df;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #dee9f7;
}
.owl-theme .owl-dots .owl-dot.active span {
  background-color: #1a1a1a;
  width: 25px;
}
/*--/ Scrolltop s /--*/
.scrolltop-mf {
  position: relative;
  display: box;
}
.scrolltop-mf span {
  z-index: 999;
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: #004799;
  opacity: 0.5;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #f2f2f2;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}
/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0.8;
  right: 2rem;
  bottom: 2rem;
  z-index: 990;
  background: #004799;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: opacity 1.5s;
  scroll-margin-top: home;
}
.back-to-top i {
  font-size: 28px;
  color: #f2f2f2;
  line-height: 40;
  transition: opacity 1.5s;

}
.back-to-top:hover {
  background: #297fe0;
  color: rgb(240, 240, 240);
  text-shadow: 0 0 5px #fffc31;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
  transition: opacity 1.5s;
  scroll-margin-top: home;
}

/*------/ Prelaoder /------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: rgb(220, 220, 220);
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #004799;
  text-shadow: 0 0 10px #4adff0;
  box-shadow: 0 0 10px #359ddb;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  scroll-behavior: smooth;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}
@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*------/ Button /------*/
.button {
  display: inline-block;
  padding: 0.3rem 0.6rem;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: 1px solid transparent;
  transition: all 500ms ease;
  cursor: pointer;
}
.button:focus {
  outline: 0;
}
.button:hover {
  background-color: #0c5bb6;
  color: #f2f2f2;
  transition: all 500ms ease;
}

.button-a {
  text-decoration: none;
  background-color: #004799;
  color: rgb(240, 240, 240);
  border-color: #b0c5dd;
}

.button-big {
  padding: 0.9rem 2.3rem;
  font-size: 1.2rem;
}

.button-rouded {
  border-radius: 5rem;
}

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: sticky;
  transition: all 0.5s;
  z-index: 9;
  padding: 20px 0;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: #111111ff;
}
#header .logo {
  font-size: 28px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  letter-spacing: 1px;
}
#header .logo a {
  color: rgb(220, 220, 220);
}
#header .logo img {
  max-height: 60px;
  transition: all .5s ease-in-out;
  filter: grayscale(55%);
}
#header .logo img:hover {
  box-shadow: 0 0 5px #f8ff71;
  transition: all .5s ease-in-out;
  filter: grayscale(25%);
}
#header.header-scrolled {
  background: rgba(0, 0, 0, 0.9);
  padding: 12px 0;
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar-sticky {
  position: sticky;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 15px #1a1a1aaa;
  width: 100vw;
  max-height: 50px;
  background-color: #111111ff;
}
.navbar {
  padding: 0;
  background-color: #111;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar > ul > li {
  white-space: nowrap;
  padding: 10px 0 10px 30px;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(240, 240, 240);
  font-size: 16px;
  font-weight: 600;
  padding: 0;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 0.4px;
  position: relative;
  text-transform: uppercase;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  width: 0;
  background-color: rgb(240, 240, 240);
  visibility: hidden;
  transition: all 0.3s ease-in-out 0s;
}
.navbar a:hover:before, .navbar li:hover > a:before, .navbar .active:before {
  visibility: visible;
  width: 80%;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: rgb(240, 240, 240);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 30px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: rgb(240, 240, 240);
  box-shadow: 0px 0px 30px rgba(19, 22, 27, 0.3);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #1a1a1a;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: #004799;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: rgb(240, 240, 240);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #1a1a1a;
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: rgb(240, 240, 240);
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile > ul > li {
  padding: 0;
}
.navbar-mobile a:hover:before, .navbar-mobile li:hover > a:before, .navbar-mobile .active:before {
  visibility: hidden;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #1a1a1a;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #004799;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: rgb(240, 240, 240);
  box-shadow: 0px 0px 30px rgba(51, 55, 66, 0.3);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: #004799;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  height: 100vh;
  position: relative;
  color: rgb(220, 220, 220, 0.8);
}
.hero .hero-content {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 150px;
  text-align: center;
}
.hero .overlay-itro {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0px;
  padding: 0;
  height: 100%;
  width: 100%;
  opacity: 0.8;
}
.hero .hero-title {
  color: rgb(204, 234, 255);
  font-weight: 600;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .hero .hero-title {
    font-size: 4.5rem;
  }
}
.hero .hero-subtitle {
  position: relative;
  color: #f1f1f1;
  bottom: -150px;
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0 0 10px #ff8040;
}
@media (min-width: 768px) {
  .hero .hero-subtitle {
    font-size: 2.5rem;
  }
}
.hero .text-slider-items {
  display: none;
}

.hero-single {
  height: 350px;
}
.hero-single .hero-content {
  margin-top: 30px;
}
.hero-single .hero-title {
  text-transform: uppercase;
  font-size: 3rem;
}
@media (min-width: 768px) {
  .hero-single .hero-title {
    font-size: 3.5rem;
  }
}
.hero-single .breadcrumb {
  background-color: transparent;
  color: #004799;
}
.hero-single .breadcrumb .breadcrumb-item:before {
  color: #b7cbe2;
}
.hero-single .breadcrumb .breadcrumb-item.active {
  color: #b2c6dd;
}
.hero-single .breadcrumb a {
  color: rgb(220, 220, 220);
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about-mf .box-shadow-full {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.about-mf .about-img {
  margin-bottom: 2rem;
  width: 550px;
  height: 550px;
}
.about-mf .about-img img {
  margin: 0 10px;
  z-index: 2;
}
@media (min-width: 767px) {
  .about-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}
.skill-mf span {
  color: #1a1a1a;
}
.skill-mf .progress {
  background-color: #9cabbd;
  margin: 0.5rem 0 1.2rem 0;
  border-radius: 0;
  height: 0.7rem;
}
.skill-mf .progress .progress-bar {
  height: 0.7rem;
  background-color: #004799;
}
/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.service-box {
  position: block;
  display: inline-flex;
  width: 375px;
  height: 200px;
  background-color: rgb(220, 220, 220);
  padding: .5rem .3rem;
  border-radius: 20px;
  margin-bottom: 2.5rem;
  text-align: center;
  object-fit: fill;
  overflow: hidden;
  color: #1a1a1a;
  word-wrap: wrap;
  transition: all 500ms ease-in-out;
  color: #004799;
  align-items: center;
  justify-content: center;
  scale: 1;
  transition: all .7s ease-in-out;
}
.service-box:hover {
  transition: all .7s ease-in-out;
  scale: 1.1;
}
.service-box img {
  line-height: 0;
  position: relative;
  top: -50px;
  left: -10px;
  color: #004799;
  background-color: rgb(220, 220, 220);
  width: 200%;
  height: 200%;
}
.service-box .s-title {
  font-size: 1.4rem;
  text-transform: uppercase;
  text-align: right;
  padding: 0.4rem 0;
}
.service-box .s-description {
  color: #3a3a3a;
  margin-left: 40%;
  margin-right: 1%;
  text-align: right;
}
/*--------------------------------------------------------------
# Counter
--------------------------------------------------------------*/
.counter-box {
  color: rgb(220, 220, 220);
  text-align: center;
}
@media (min-width: 577px) {
  .counter-box {
    margin-bottom: 1.8rem;
  }
}
.counter-ico {
  margin-bottom: 1rem;
}
.counter-ico .ico-circle {
  height: 60px;
  width: 60px;
  line-height: 1.5;
  box-shadow: 0 0 0 10px #b5c8dd;
}
.counter-num .counter {
  font-size: 2rem;
  margin-bottom: 0;
}
/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.work-box {
  margin-bottom: 3rem;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: rgb(220, 220, 220);
  border-radius: 20px;
  overflow: hidden;
}
.work-img {
  display: block;
  overflow: hidden;
  overflow: hidden;
}
.work-img img {
  width: 420px;
  height: 250px;
  transition: all 1s;
  overflow: hidden;
  scale: 1;
  transition: all .7s ease-in-out;
}
.work-img img:hover {
  transition: all .7s ease-in-out;
  scale: 1.1;
}
.work-content {
  padding: 2rem 3% 1rem 4%;
}
.work-content .w-more {
  color: #1f1f1f;
  font-size: 0.8rem;
}
.work-content .w-more .w-ctegory {
  color: #004799;
  object-fit: fill;
}
.work-content .w-like {
  font-size: 2.5rem;
  color: #004799;
  float: right;
}
.work-content .w-like a {
  color: #004799;
}
.work-content .w-like .num-like {
  font-size: 0.7rem;
}

.w-title {
  font-size: 1.2rem;
}
/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 40px;
}
.portfolio-details .portfolio-details-slider img {
  width: 100%;
}
.portfolio-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgb(220, 220, 220);
  opacity: 1;
  border: 3px solid #004799;
}
.portfolio-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #004799;
}
.portfolio-details .portfolio-info {
  padding: 30px;
  box-shadow: 6px 5 30px rgba(54, 54, 54, 0.2);
}
.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 3px solid rgba(201, 201, 201);
}
.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 3;
  font-size: 15px;
}
.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}
.portfolio-details .portfolio-description {
  padding-top: 30px;
}
.portfolio-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.portfolio-details .portfolio-description p {
  padding: 3;
}
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonial-box {
  color: rgb(220, 220, 220);
  text-align: center;
}
.testimonial-box .author-test {
  padding: 10px;
  margin-top: 1rem;
}
.testimonial-box .author-test img {
  width: 200px;
  height: 200px;
  margin: 10xp 0px;
  padding: 5px 0;
}
.testimonial-box .author {
  color: rgb(220, 220, 220);
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  display: block;
  font-size: 1.4rem;
  padding: 0;
}
.testimonial-box .comit {
  font-size: 2rem;
  color: #004799;
  background-color: rgb(220, 220, 220);
  width: 52px;
  height: 52px;
  display: block;
  margin: 1 auto;
  border-radius: 50%;
  line-height: 1.6;
  padding: 5px 0;
}
@media (min-width: 768px) {
  .testimonial-box .description {
    padding: 3rem 5rem;
  }
}
@media (min-width: 992px) {
  .testimonial-box .description {
    padding: 3 8rem;
  }
}
@media (min-width: 1200px) {
  .testimonial-box .description {
    padding: 3 13rem;
  }
}

.swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: rgba(220, 220, 220);
  opacity: 1;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: rgb(240, 240, 240);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.footer-paralax {
  padding: 4rem 0 0 0;
}

.contact-mf {
  margin-top: 4rem;
}
@media (min-width: 767px) {
  .contact-mf .box-pl2 {
    margin-top: 3rem;
    padding-left: 0rem;
  }
}

.php-email-form .error-message {
  display: none;
  color: rgb(220, 220, 220);
  background: #da380b;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.php-email-form .sent-message {
  display: none;
  color: rgb(220, 220, 220);
  background: #16c065;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.php-email-form .loading {
  display: none;
  background: rgb(220, 220, 220);
  text-align: center;
  padding: 15px;
}
.php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18b662;
  border-top-color: rgb(240, 240, 240);
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.php-email-form input, .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.php-email-form input:focus, .php-email-form textarea:focus {
  border-color: #004799;
}
.php-email-form input {
  padding: 10px 15px;
}
.php-email-form textarea {
  padding: 12px 15px;
  margin-bottom: 1;
}
.php-email-form button[type=submit] {
  background: #004799;
  border: 0;
  padding: 10px 24px;
  color: rgb(211, 236, 253);
  transition: 1s;
}
.php-email-form button[type=submit]:hover {
  background: #004799;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
@media (min-width: 767px) {
  .card-blog {
    border-radius: 20px;
    margin-bottom: 3rem;
  }
}
.card-blog .card-body {
  position: relative;
}
.card-blog .card-category-box {
  position: absolute;
  text-align: center;
  top: -16px;
  left: 15px;
  right: 15px;
  line-height: 25px;
  overflow: hidden;
}
.card-blog .card-category {
  display: inline-block;
  color: rgb(240, 240, 240);
  padding: 0 15px 5px;
  overflow: hidden;
  background-color: #004799;
  border-radius: 4px;
}
.card-blog .card-category .category {
  color: rgb(240, 240, 240);
  display: inline-block;
  text-transform: uppercase;
  font-size: 0.7rem;
  letter-spacing: 0.2px;
  margin-bottom: 0;
  font-size: 1rem;
}
.card-blog .card-title {
  font-size: 1.3rem;
  margin-top: 0.6rem;
}
.card-blog .card-description {
  color: #1a1a1a;
}
.card-blog .post-author {
  display: inline-block;
}
.card-blog .post-date {
  color: #1a1a1a;
  display: inline-block;
  float: right;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
footer {
  text-align: center;
  color: rgb(240, 240, 240);
  padding: 25px;
  background: #004799;
}
footer .copyright {
  margin-bottom: .3rem;
}
footer .credits {
  margin-bottom: 0;
}
footer .credits a {
  color: rgb(240, 240, 240);
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scrollbar-height: none;
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

html {
  position: relative;
  scrollbar-width: none;
  scrollbar-height: none;
  scrollbar: none;
  scroll-behavior: smooth;
}

.socials {
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#contact-btn {
  width: 200px;
  margin-top: 10px;
  padding-top: 10px;
}
.tooltip .tooltip-text {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltip-text::-webkit-scrollbar {
  display: none;
}
.tooltip .tooltip-text {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.fa {
  scale: 1;
  transition: all .5s ease-in-out;
  color: #f1f1f1;
}
.fa:hover {
  scale: 1.2;
  transform: translateY(-5px);
  transform: translateX(5px);
  transition: all .5s ease-in-out;
  text-shadow: 0 0 5px #f8ff71;
  color: #fff;
}
html::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
}
#menu-icon {
  position: fixed;
  top: 10px;
  left: 25px;
  margin-bottom: 5px;
  display: block;
  z-index: 3;
  width: 80px;
  height: 120px;
  filter: grayscale(50%);
  scale: 1;
  transition: all 1s ease-in-out;
  border: 1px solid #1a1a1a;
}
#menu-icon:hover {
  filter: grayscale(10%);
  scale: 1.1;
  transition: all 1s ease-in-out;
  box-shadow: 0 0 10px #fffc31;
}
#menu-display {
  position: absolute;
  display: static;
  flex-direction: column;
  top: -50px;
  left: 430px;
  width: 700px;
  height: 1000px;
  transition: all 1s ease;
  box-shadow: 0 0 15px #1a1a1a;
  z-index: 3;
}
#menu-display:hover {
  filter: grayscale(0%);
  transition: all .5s ease;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  z-index: -999;
  transition: all .5s ease-in;
}
.active {
  visibility: visible;
  opacity: 1;
  z-index: 999;
  transition: all.5s ease-in-out;
}
.phone-number {
  position: relative;
  top: 10px;
  text-align: center;
  font-size: 2rem !important;
  color: #fff;
}
.company-name {
  position: relative;
  font-size: 2rem;
  color: #f1f1f1;
  text-decoration: none;
  top: 5px;
  left: -25px;
}
.form-inline {
  position: relative;
  display: flex;
  padding: 0 10px;
  margin: 0 10px;
}
.form-inline input {
  position: relative;
  right: -50px;
  width: 250px;
}
#branding {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#branding img {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 45px;
  height: 60px;
  left: -120px;
}
.logo {
  position: relative;
  top: -5px;
  left: -20px;
}
.img-fluid {
  position: relative;
  display: flex;
  border-radius: 20px;
}
#map-container {
  box-shadow: 0 0 10px #838383;
}
#reviews {
  position: absolute;
  display: flex;
  margin: -100px 0px 100px 0px;
  text-align: center;
  align-items: center;
  padding-bottom: 50px;
  color: #f1f1f1;
  font-size: 3em;
}
#gallery-container {
  position: relative;
  display: flex;
  bottom: 0px;
  width: 100%;
  height: 707px;
}
.gallery-box {
  position: relative;
  display: flex;
  top: 200px;
  left: 0px;
  margin: auto;
  padding: auto;
  width: 800px;
  height: 600px;
}
.gallery-box .socials {
  position: relative;
  display: flex;
  flex-direction: row;
  top: 0px;
  z-index: 9;
  width: 50px;
}
.gallery-box .socials li {
  position: relative;
  display: flex;
  top: 0px;
  left: 0px;
  margin: 10px;
  padding: 10px;
  z-index: 9;
}
.gallery-footer {
  position: absolute;
  display: flex;
  bottom: 100px;
  margin: 0px;
}
.slider-container {
  position: absolute;
  display: grid;
  width: 800px;
  height: 600px;
  border-radius: 20px;
  transition: all 0.9s ease-in-out;
  text-align: center;
}
.slide {
  position: absolute;
  width: 800px;
  height: 600px;
  display: grid;
  transition: all 0.9s ease-in-out;
  text-align: center;
  border-radius: 20px;
}
.slide-image {
  position: absolute;
  display: grid;
  width: 800px;
  height: 600px;
  border-radius: 20px;
}
.slide:nth-child(1) h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
#popi-img {
  position: absolute;
  top: -25px;
  left: -300px;
  width: 200px;
  z-index: 1;
  border-radius: 10px;
}

#popi-img:hover {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

#popi-disclaimer {
  position: absolute;
  top: 50px;
  left: -300px;
  width: 750px;
  height: 500px;
  border: 1px solid #1a1a1a44;
  box-shadow: 0 0 15px #1a1a1a;
  z-index: 2;
  background-color: #f1f1f1;
  margin: 20px;
  padding: 20px;
}
